.center {
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#email, #problem{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box; 
}

input[type=submit] {
    width: 70%; 
    background-color: #5D6D7E;
    color: white;
    padding: 14px 20px;
    margin: 8 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(76, 99, 124);
}

body{
    background-image: url("/public/images/office.webp");
}

.send-to {
    color: white;
}

#alert {
    width: 65%;
    padding: 20px;
    background-color: #f44336;
    color: white;
}

#good {
    width: 65%;
    padding: 20px;
    background-color: #1a6e17;
    color: white;
}

#closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

#closebtn:hover {
    color: black;
}

.form{
    border: solid white;
    padding-left: 30px;
    border-radius: 4px;
    backdrop-filter: blur(5px);
}

.invisible{
    opacity: 0;
}