#map {
    height: 600px;
    width: 75%;
    margin: 0 auto;
    border-radius: 4px;
    border: solid #5D6D7E;
}

.ufi {
    margin: 0 auto;
}

#overflowVisible{
    left:0;
}

.picture {
    width: 100%;
    height: 100%;
    position: center;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(#904e95, #e96443);
    background-size: contain;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
    text-align: left;
}

.legend i {
    text-align: left;
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.buton-hover {
    display: inline;
    letter-spacing: 0;
    color: black;
    font-size: medium;
    border: none;
}

.buton-hover:hover, .buton-hover:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    background-color: #5D6D7E;
    color: white;
}

.date-pe-judete {
    display: inline;
    border-radius: 4px;
    font-size: medium;
    color: black
}

.interactiv {
    margin: 0 auto;
    text-align: center;
}

.center {
    z-index: -1;
    padding-bottom: 5em;
    margin: 0 auto;
}

.container {
    margin: 0 3em;
    padding: 1em;
    margin-left: 8em;
    margin-top: 1.7em;
}

hr {
    width: 100%;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1f062b;
    border: 0 none;
    vertical-align: 20%;
}

#titlu {
    font-size: 25px;
    margin-top: 1em;
}

.invisible{
    opacity: 0;
}