body{
  background-color:#F6F6F6;
  overflow-x: hidden;
}

header
{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

nav
{
  width: 100%;
  display: flex; 
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.barmenu{
  z-index:1111;
  width: 100%;
  margin: 0;
  padding: 0 2em;
  background-color: #5D6D7E;
  height: 3.4em;   
  box-shadow: 0 10px 6px -8px #777;
}

.logo
{
  display: inline-block;
  height: 3em;
}

.menu-icons
{
  position: fixed;
  right: 2em;
  top: 1em;
  cursor: pointer;
  z-index: 500;
  display: none;
}

.sign
{
  right: 1em;
  position: absolute;
  display: inline-block;
  align-items: center;  
}

.log
{
  height: 4em;
  border-color: transparent;
  background-color: transparent;
  width: 5em;
  color: white;
  text-align: center;
}

.log:hover {  
  background-color: rgba(192, 196, 211, 0.8);
  box-shadow: 0 9px 14px 0 rgba(0,0,0,0.24), 0 15px 20px 0 rgba(0,0,0,0.19);
}

.listaPrincipala  
{
  top: 3em;
  list-style: none;
  display: flex;
  width: 100%;
  align-items: center;
}

.listaPrincipala li 
{
  margin: 4px;
  line-height: 1.5em;
  position: relative;
  font-size: 1.2em;
}

.listaPrincipala a{
  text-decoration: none;
  color: white;
}

.listaPrincipala li{
  display: block;
  color: white;
  padding: 0 1em;
  text-transform: uppercase;
}

.sublist li
{
  font-size: 1em;
}

.sublist
{
  padding: 0;
  display: block;
  position: absolute;
  width: 10em;
  top: 2em;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  background-color: #5D6D7E;
  border-top: 3px solid  rgb(20, 21, 27);
  transition: all .5s ease; 
}

.listaPrincipala a:hover{ 
    color: #212F3D ;
    font-size: large;
}

.listaPrincipala li:hover > .sublist{ 
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 1130px){


.sign
{
  left: 15em;
  position: absolute;
  display: inline-block;
  align-items: center;

}

.listaPrincipala{
    z-index: 9999;
    position: fixed;
    width: 65%;
    right: 0;
    height: auto;
    flex-direction: column;
    align-items: initial;
    
    display: none;
    background-color: #5D6D7E;;
  
}

.listaPrincipala li{
  line-height: 2em;
  font-size: 1em;
  padding: 0;
}


.sublist
{
  position:initial;
  max-height: 0;
  padding-left: 1em;
  font-size: 1em;
  border-left-color: gray;
  border-top: none;

}


.listaPrincipala li:hover > .sublist{  
  visibility: hidden;
}


.sulist::before{
  display: none;
}

.menu-icons{
  display: block;
}
    
.close{
 display: none;
} 

nav.active .close{
   display: block;
}

nav.active .open{
     display: none;
}

nav.active .listaPrincipala{
  display: flex;
}

@media screen and (max-width: 430px){
  .listaPrincipala{
      top: 2.2em;
      height: 60%;
      overflow-y: auto;
  }

  .listaPrincipala li:hover > .sublist{  
      visibility: hidden;
  }

  .menu-icons{
      top:0.8em;
  }
  .barmenu{
      height: 3em;
  }
  .sign{
     display: none; 
  }
  .log{
     color: white;
  }
}
}