.image-div {
    left: 0;
    position: absolute;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
    z-index: -1;
    display: flex;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    overflow: auto;
    color: white;
}

body{
    background-image: url("/public/images/office.webp");
}

.center {
    margin: auto;
    width: 50%;
    align-self: center;
}

.form{
    border: solid white;
    padding-left: 20px;
    border-radius: 4px; 
    backdrop-filter: blur(5px);
}

a
{
    color: aliceblue;
}