* {
    box-sizing: border-box;
}

.logout {
    position: absolute;
    right: 13px;
    bottom: 13px;
    padding: 3px;
    display: inline;
    border: solid white;
}

.logout:hover {
    background-color: #5D6D7E;
    cursor: pointer;
}

.image-div {
    background-image: url("/twApp/public/images/office.jpg");
    left: 0;
    position: absolute;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
    z-index: -1;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.image-m {
    z-index: 2;
    margin-left: 3em;
}

.center {
    z-index: 2;
    width: 100%;
    align-self: center;
}

.citat {
    z-index: 2;
    display: flex;
    align-items: center;
    margin-left: 3em;
    align-self: center;
    color: white;
    font-weight: bold;
    display: inline-block;
}

.image-btn {
    z-index: 2;
    background-color: transparent;
    text-transform: uppercase;
    border: none;
    color: white;
    padding: 5px 30px;
    text-align: center;
    font-size: 16px;
    margin: 4px 5px;
    transition: 0.3s;
    margin-bottom: 2em;
}

.image-btn:hover {
    cursor: pointer;
    background-color: #5D6D7E;
    letter-spacing: 0.2em;
    color: white;
}

#alert {
    z-index: 2;
    width: fit-content;
    padding: 20px;
    background-color: #f44336;
    color: white;
}

#closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

#closebtn:hover {
    color: black;
}