Options -MultiViews
RewriteEngine On
RewriteBase /twApp

#directory checking, if is true execute next rewrite rule 
RewriteCond %{REQUEST_FILENAME} !-d 

#file checking
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]


#The RewriteRule  means that if the request is done  matches ^(.+)$
#(matches any URL except the server root), it will be rewritten as index.php?url=$1

#QSA means that if there's a query string passed with the original URL, it will be appended 

#L means if the rule matches, don't process any more RewriteRules below this one.